main > .container {
    padding: 20px 15px 0;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 4px;
}

tr:nth-child(even) {
    background-color: #dddddd;  
}

table code {
    color: black;
}

table.matrix, table.matrix tr, table.matrix th, table.matrix td {
    border: 1px solid black;
    background-color: white;
}

table.matrix th {
    background-color: #dddddd;
}