/* Forms */

.form-group {
    margin-bottom: 1rem;
}

.form-group label {
    margin-bottom: 0.5rem;
}

.was-validated #passwordHelpBlock li,
.was-validated #passwordHelpBlock li#pwdCheckSpace.not-checked,
.was-validated #passwordHelpBlock li#pwdCheckEmoji.not-checked,
.was-validated #passwordHelpBlock li#pwdCheckName.not-checked{
    color: #dc3545;
}

.was-validated #passwordHelpBlock li#pwdCheckSpace,
.was-validated #passwordHelpBlock li#pwdCheckEmoji,
.was-validated #passwordHelpBlock li#pwdCheckName {
    color: inherit;
}

#passwordHelpBlock li.checked {
    color: #198754 !important;
}

/* Captcha */
.altcha {
    border-color: #dee2e6 !important;
}

/* Images */

.full-image {
    width: 100%;
    height: 100%;
}